.dropdownjust {
    min-height: 60vh;
    padding-top: 40px !important;

    &__questions {
        display: flex !important;
        justify-content: center !important;
        padding: 30px 10px !important;
    }
}

.custom-dropdown {
    display: flex;
    justify-content: space-between;
    &__title {

    }
    &__icon {
        width: 100px;
    }
}

.custom-dropdown-content {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    background-color: #f1f2f3;

    &__container {
        display: flex;
        flex: 1 1;
        .image {
            width: 50%;
            background-color:rgb(218, 168, 104);
        }
        .description {
            padding-left: 1.5rem;
            width: 50%;
        }
    }
}